.note-container {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 0 auto 14px;
    padding: 16px;
    width: 80%;
}

.note-text {
    height: fit-content;
    margin-left: 20px;
    width: 60%;
}

.note-buttons {
    height: fit-content;
}
.note-buttons button {
    float: right;
}
.note-buttons button:first-of-type {
    margin-bottom: 0.3em;
}

.icon-copy {
    border-color: rgba(236,214,138,0.3);
    color: rgb(236,214,138);
}
.icon-copy:hover {
    background: rgba(236,214,138,0.15);
}

.icon-trash {
    border-color: rgba(231,151,151,0.3);
    color: rgb(231,151,151);
}
.icon-trash:hover {
    background: rgba(231,151,151,0.15);
}

.display-more-text {
    color: rgb(113,163,199);
    cursor: pointer;
    margin-top: 6px;
}