.profiles-container {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 0 auto 14px;
    padding: 16px;
    cursor: pointer;
}

.profiles-container > .btn {
    padding: 8px 16px 8px 16px !important;
}

.profiles-buttons > .btn {
    padding: 8px 16px 8px 16px !important;
}

.profiles-text {
    height: fit-content;
    width: 65%;
}

.profiles-text p {
    margin-top: 24px !important;
    font-size: 10px;
}

.profiles-buttons {
    height: fit-content;
    width: 20%;
}
.profiles-buttons button {
    float: right;
}
.profiles-buttons button:first-of-type {
    margin-bottom: 0.3em;
}

.icon-thumbs-up {
    border-color: rgba(138, 184, 125, 0.3);
    color: rgb(138, 184, 125);
}
.icon-thumbs-up:hover {
    background: rgba(236,214,138,0.15);
}

.icon-thumbs-down {
    border-color: rgba(231,151,151,0.3);
    color: rgb(231,151,151);
}
.icon-thumbs-down:hover {
    background: rgba(231,151,151,0.15);
}

.display-more-text {
    color: rgb(113,163,199);
    cursor: pointer;
    margin-top: 6px;
}

.score-text {
    margin: 5px 0 5px 20px;
}

.highlight-button {
    height: 50px;
    margin-top: 35px;
    margin-left: 10px;
}