{% if auth %}
    <div class="container">
      <div class="row">
        <div class="col .col-2 align-self-centre">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="form-group">
              <textarea class="form-control" aria-label="With textarea" placeholder="Hi, note taking is easy, just start!"></textarea>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary mr-2">Save</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Link</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
