{% if not auth %}
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <div id="firebaseui-auth-container"></div>

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyBcJc213eRo8xutWDlpMFc2qHsHavTbX6o",
        authDomain: "hinote-efd65.firebaseapp.com",
        databaseURL: "https://hinote-efd65.firebaseio.com",
        projectId: "hinote-efd65",
        storageBucket: "hinote-efd65.appspot.com",
        messagingSenderId: "139007776581",
        appId: "1:139007776581:web:6a72e6eae7fca8439c902c"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var ui = new firebaseui.auth.AuthUI(firebase.auth());

      ui.start('#firebaseui-auth-container', {
        callbacks: {
          signInSuccessWithAuthResult: function(authResult, redirectUrl) {
            firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                this.signInSuccessUrl = '/token/';
              }).catch(function(error) {
                // display signIn Failed
              });
          },
          uiShown: function() {
            // The widget is rendered.
            // Hide the loader.
            document.getElementById('loader').style.display = 'none';
          }
        },
        signInSuccessUrl: '/token',
        signInOptions: [
          firebase.auth.GoogleAuthProvider.PROVIDER_ID
        ],
      });

      firebase.auth().onAuthStateChanged(user => {
        if(user) {
          window.location = '/token'; //After successful login, user will be redirected to home.html
        }
      });

    </script>

{% endif %}
