
<!doctype html>
<head>

{% load static %}

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://kit.fontawesome.com/9e46bdaf63.js" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.ico" />
<title>HI-NOTE</title>
</head>
<body>

  <nav class="navbar navbar-expand-sm p-2 navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="{% static "/images/logo1.png" %}" width="40" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    {% if auth %}
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
          <input type="text" class="form-control text-align:center" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    {% csrf_token %}
    <button class="btn btn-outline-success my-2 my-sm-0" name="logout" type="submit">Logout</button>
    {% endif %}
  </div>
  </nav>

  <div class="jumbotron text-center mx-auto p-2 pt-4">
    <h3>Welcome to Hi-Note</h3>
    {% if auth %}
    {% include "landing/card.html" %}
    {% endif %}
  </div>
    {% if auth %}
    {% include "landing/note_preview.html" %}
    {% else %}
    {% include "landing/fib-auth.html"%}
    {% endif %}

</body>
