
<div class="container">
  <div class="row">
    <div class="col .col-2 align-self-centre">
      <div class="card shadow-sm">
        <div class="card-header">
          <p>NOTES</p>
        </div>
          <ul class="list-group list-group-flush">
            {% for note in parsed_notes %}
              <li class="list-group-item">
                <form method="post" action="#" class=" centre my-2 my-lg-0">
                  {% csrf_token %}
                  <h2>{{ note.date }}</h2>
                  <a class="float-right" href="{{ note.url }}">{{ note.url }}</a>
                  <p>{{ note.author }}</p>
                  <p>{{ note.summary }}</p>
                  <div class="container">
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <i class="fas fa-thumbs-up" style="margin:5px"></i>
                        <h4>{{ note.score }}</h4>
                        <i class="fas fa-thumbs-down" style="margin:5px"></i>
                      </div>
                    </div>

                    <div class="col">
                    </div>

                    <div class="col">
                      <button class="float-right pull-right btn btn-success my-2 my-sm-0" name="edit">edit</button>
                      <button class="float-right pull-right btn btn-primary my-2 my-sm-0" name="more">more</button>
                    </div>
                  </div>
                  </div>
                </form>
              </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>
