@import url('https://fonts.googleapis.com/css?family=Ubuntu:500,700');

#root {
    color: rgb(111,111,111);
    font-family: 'Ubuntu', sans-serif;
    min-height: 242px;
    width: 340px;
}

.button-text {
    display: inline-block;
    margin-right: 2px;
}

.button-writer {
    margin-left: 10px;
    margin-right: 5px;
}

.button-headers {
    margin-top: 10px;
    margin-bottom: 10px;
}